* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(64, 66, 67);
}
.navbar-brand {
  font-family: Dancing Script, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.logo {
  color: red;
  font-size: 30px;
  margin-bottom: 8px;
}
.profile {
  color: red;
}
.carousel-item {
  height: 250px;
  transition: transform 2s ease, opacity 0.9s ease-out;
}
.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.boxx {
  background-color: rgb(35, 37, 38);
  box-shadow: inset 2px 2px 10px rgb(101, 96, 96);
}
.btn {
  box-shadow: 1px 1px 8px red;
  transition: box-shadow 0.2s ease;
}

.btn:hover {
  /* box-shadow: 5px 6px 5px red; */
  /* box-shadow: inset 1px 1px 10px red; */
  box-shadow: -3px -3px 13px rgb(255, 0, 136), 3px 3px 13px red;
}

.ratings {
  color: rgba(255, 215, 188, 0.917);
}
.ratings .bi:hover {
  color: rgb(255, 85, 0);
}
.card {
  color: white;
  background-color: rgb(74, 72, 72);
  padding: 3px;
  box-shadow: 1px 1px 15px red;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}
.card:hover {
  box-shadow: -3px -3px 13px rgb(255, 0, 136), 3px 3px 13px red;
}
.card p {
  font-size: x-small;
}
.card img {
  width: 100%;
  height: 250px;
  object-fit: fill;
}

.slt {
  transition: all 0.5 ease;
}

.slt-box:hover > :not(:hover) {
  filter: blur(1px);
}

.membership h2 {
  filter: drop-shadow(2px 2px 20px red);
}
.socl {
  filter: drop-shadow(3px 3px 13px red);
}

@media screen and (max-width: 992px) {
  .profile {
    display: none;
  }
}
